.formControl {
  textarea {
    width: 100%;
    padding: 12px
  }

  button {
    background: #000;
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
  }
}